.card-pokemon {
    width: 100%;
    max-width: 28rem;
    height: 30.4rem;
    background-color: #ffffff;
    box-shadow: 0px 10px 51px -5px rgba(183, 189,193, 0.3);
    border: none;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    transition: 300ms ease-in-out;
    padding: 20px 10px;
    box-sizing: border-box;
    gap: 20px;
}

.card-pokemon:hover {
    transform: scale(1.05);
    /* box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.3); */
}

.container-image {
    position: relative;
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #2f3133;
    background-image: url('../../assets/img/bg-types/dark.svg');
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
}

.pokemon-image {
    display: block;
    top: -10.04px;
    width: 141.04px;
    height: 139.98px;
   
    
}

.container-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    margin-top: 10px;
}

.pokemon-title {
    text-align: start;
    width: 115px;
    height: 53px;
    gap: 6px;
}

.pokemon-title span {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 19.5px;
    color: #7a7d90;
}

.pokemon-title h3 {
    width: 115px;
    height: 27px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #2f3133; 
}

.pokemon-type {
    width: 16.8px;
    height: 18px;
}

.pokemon-type img {
    width: 16px;
    height: 18px;
    object-fit: contain;
}

