.container-input-search {
    width: 1237px;
    height: 78px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 35px 50px;
}

.label-search-pokemon {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 39.01px;
    letter-spacing: -1%;
    color: #2F3133;
}

.input-search-pokemon {
    width: 326px;
    height: 56px;
    top: 979px;
    left: 23px;
}