.navbar-container {
  width: 100%;
  height: 112px;
  padding: 4rem 7rem;
  transition: all 300ms;

}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between ;
  align-items: center;
  flex-direction: row;
}

.codeboost {
  color: #ffffff;
  font-size: 13px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  word-wrap: break-word;
}

.boost {
  color: #ffffff;
  font-size: 13px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  word-wrap: break-word;
}

@media (max-width: 570px) {
  .navbar-container {
    padding: 4rem 4rem;
  }
  .codeboost {
    display: none;
    opacity: 0;;
  }
}

