.main {
  width: 100%;
  min-width: 37.5rem;
  
}
.container-section {
  width: 100%;
  min-width: 37.5rem;
  padding: 30px 50px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f7f7f7;
  position: relative;
}

.container-filter {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  gap: 30px;
  padding-top: 30px;
}

.container-filter.mobile {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.spinners {
    padding: 100px;
    margin: auto auto;
}

.container-title {
  width: 100%;
  padding: 30px 10px;
}

.container-pokemons {
  width: 80%;
  height: 100%; 
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-left: 2px solid #f0f0f0;
  padding-left: 50px;
}

.container-pokemons-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px 0;
  gap: 40px;
}

li {
  list-style: none;
}

@media (max-width: 1000px) {
  .container-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .container-filter.desktop {
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  .container-filter.mobile {
    display: block;
    visibility: visible;
    opacity: 1;
    width: 100%;
    min-width: 32.7rem;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .container-pokemons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
  }

  .container-pokemons-card {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .container-pokemons {
    padding-left: 0;
  }
}